<div>

    <div ng-repeat="filter in filters" layout="row" class="layout-row">

        <md-input-container style="width: 18%;">
            <md-select ng-model="o" placeholder="Select option" ng-change="filter.onSelect(o)" flex="auto">
                <md-option ng-hide="filters.isFilterSelected(o)" ng-value="o" ng-repeat="o in options track by $index">{{ o.label }}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container ng-repeat="value in filter.values track by $index" style="margin-left: 10px;width: 18%;">

            <md-select ng-model="o" placeholder="Select value" ng-change="value.onSelect(o)" ng-if="filter.type == 'OPTIONS'">
                <md-option ng-hide="filters.isValueSelected(o)" ng-value="o" ng-repeat="o in filter.options">{{ o }}</md-option>
            </md-select>

            <input type="text" name="" ng-model="filter.values[0].value" ng-if="filter.type == 'TEXT'">

        </md-input-container>

        <md-input-container style="margin-top: 6px;">
            <md-button ng-show="filter.canAddValue()" ng-click="filter.addValue()" class="md-fab md-primary" style="height: 20px;width: 37px;">
                <md-icon class="fa fa-plus" style="vertical-align: bottom;line-height: 25px;"></md-icon>
            </md-button>
        </md-input-container>

    </div>

    <md-input-container style="margin: 0 0 20px 0;">
        <md-button ng-click="filters.add()" class="md-raised md-primary">Add Filter</md-button>
        <md-button ng-click="filters.removeLast()" class="md-raised">Remove Filter</md-button>
    </md-input-container>

</div>
