<div *ngFor="let filter of filters">

  <mat-form-field>
    <mat-select [(value)]="filter.option" placeholder="Select option" (change)="filter.onSelect(filter.option)">
        <!-- *ngIf="!filters.isFilterSelected(option)"
        <ng-template ngFor let-option [ngForOf]="options">
         -->
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option.label }}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <span *ngFor="let value of filter.values;index as i" style="margin-left: 22px;width:18%">

    <div style="width: 100%;display: inherit;" *ngIf="!filter.isAutocomplete()">

      <mat-form-field *ngIf="filter.isOptions()">
        <mat-select style="width:200px" [(value)]="filter.values[i]" placeholder="Select option" (change)="filter.callback()" placeholder="Select value">
          <mat-option [value]="option" *ngFor="let option of filter.option.options">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="filter.isText()">
        <input matInput placeholder="" [(ngModel)]="model" (blur)="filter.values[i]=model;filter.callback()"/>
      </mat-form-field>  

    </div>

    <!--
    <md-autocomplete placeholder="Search..." style="display: inline-block;margin-top: 8px;width: 100%;" ng-if="filter.isAutocomplete()"
      md-search-text="searchText" md-selected-item="filter.values[$index]" md-selected-item-change="filter.callback()" md-items="item in filter.option.querySearch(searchText)"
      md-item-text="item" md-min-length="0">
      <md-item-template>
        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
      </md-item-template>
    </md-autocomplete>
    -->

  </span>

  <!--
  <md-input-container style="margin-top: 2px;">
    <md-button ng-show="filter.canAddValue()" ng-click="filter.addValue()" class="md-fab md-primary" style="height: 20px;width: 37px;">
      <md-icon class="fa fa-plus" style="vertical-align: bottom;line-height: 25px;"></md-icon>
    </md-button>
  </md-input-container>
  -->

    <button *ngIf="filter.canAddValue()"  mat-button mat-raised-button (click)="filter.addValue()">Add Value</button>

</div>

<button mat-button mat-raised-button (click)="filters.add()">Add Filter</button>
<button mat-button warn mat-raised-button (click)="filters.removeLast()">Remove Filter</button>
<button mat-button mat-raised-button (click)="filters.callback(true)" *ngIf="!config.autoApply && filters.isApplyEnabled()">Apply</button>