<html lang="en" ng-app="userExplorer" ng-cloak>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <!-- Dynamic Filter -->
    <script src="https://cdn.rawgit.com/ivanblazevic/angular-dynamic-filter/master/dest/ngDynamicFilter.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script type="text/javascript" src="app/app.js"></script>
    <!--
    <script type="text/javascript" src="app/directives/dynamicFilter/ngDynamicFilter.js"></script>
    -->

    <style media="screen">

        .links-section {
            float: right;
            line-height: 0px;
        }

        .links-section a {
            cursor: pointer;
            margin-left: 10px;
        }

        .links-section a:hover {
            text-decoration: underline;
        }

    </style>

</head>
<body ng-controller="MainCtrl">

    <md-content class="md-padding">

        <div class="links-section">

            <a ng-click="showConfig =! showConfig">Show Config</a>

            <a target="_blank" href="https://github.com/ivanblazevic/angular-dynamic-filter#api">API Docs</a>

        </div>

        <pre style="border: 1px solid #e4e4e4;" class="prettyprint" ng-class="{ show: showConfig, hidden: !showConfig }">$scope.filterOptions = [
    {
        type: "OPTIONS",
        label: "Material",
        field: "material",
        options: $scope.dataSource.map(function(m) { return m.name }) // map object array to string
    },
    {
        type: "TEXT",
        label: "Symbol",
        field: "symbol"
    },
    {
        type: "AUTOCOMPLETE",
        label: "Material Search",
        field: "material",
        params: {
            querySearch: $scope.querySearch // if autocomplete, pass function which returns promise
        }
    }
]</pre>

        <dynamic-filter
            template-url="app/directives/dynamicFilter/ngDynamicFilterMaterial.html"
            options="filterOptions"
            on-select="onFilter(result)">
        </dynamic-filter>

        <pre style="border: 1px solid #e4e4e4;" class="prettyprint">JSON output: {{ result }}</pre>

        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width:100%">
            <thead>
                <tr>
                    <th width="20">Position</th>
                    <th class="mdl-data-table__cell--non-numeric">Material</th>
                    <th>Weight</th>
                    <th>Symbol</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in dataSource | search:result">
                    <td>{{ item.position }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ item.name }}</td>
                    <td>{{ item.weight }}</td>
                    <td>{{ item.symbol }}</td>
                </tr>
            </tbody>
        </table>

    </md-content>

</body>
</html>
